* {
  font-family: "JetBrainsMono Nerd Font", "Noto Sans CJK JP";
  font-size: 14pt;
  font-weight: 600;
  box-shadow: none;
  background-image: none;
}

window {
  background-color: rgba(17, 17, 27, 0.90);
}

button {
  color: #A6ADC8;
  background-color: rgba(30, 30, 46, 0.80);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(177, 144, 250, 0.28);
  border-radius: 18px;
  background-repeat: no-repeat;
  background-position: center 32%;
  background-size: 30%;
  margin: 12px;
  padding-top: 20px;
  transition: background-color 200ms ease, border-color 200ms ease, color 200ms ease, margin 200ms ease;
}

button:focus,
button:active,
button:hover {
  background-color: rgba(177, 144, 250, 0.18);
  border-color: #cba6f7;
  border-width: 2px;
  color: #cba6f7;
  outline-style: none;
  margin: 8px;
}

#lock      { background-image: image(url("/usr/share/wlogout/icons/lock.png")); }
#logout    { background-image: image(url("/usr/share/wlogout/icons/logout.png")); }
#suspend   { background-image: image(url("/usr/share/wlogout/icons/suspend.png")); }
#hibernate { background-image: image(url("/usr/share/wlogout/icons/hibernate.png")); }
#shutdown  { background-image: image(url("/usr/share/wlogout/icons/shutdown.png")); }
#reboot    { background-image: image(url("/usr/share/wlogout/icons/reboot.png")); }

#shutdown:hover,
#reboot:hover {
  background-color: rgba(243, 139, 168, 0.18);
  border-color: #F38BA8;
  color: #F38BA8;
}
